/*Header Styles*/

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    padding-right: 45px;
    animation: fadein 0.5s forwards;
    opacity: 0;
    color: #fff;
    height: 74px;
}

@keyframes fadein {
    100% {
        opacity: 1;
    }
}

header h2 {
    font-family: "Quicksand", sans-serif;
}

#index {
    display: flex;
    align-items: center;
}

header .logo {
    margin-right: 15px;
    position: relative;
    padding: 7px;
}

header nav {
    display: flex;
    align-items: center;
}

header nav li {
    margin-right: 6.5px;
    align-items: center;
}

header nav li:nth-child(1) {
    width: 156.5px;
}

header nav li a {
    /* margin: 0 15px; */
    color: black;
    display: flex;
    align-items: center;
    fill: #838383;
}

header nav img {
    width: 36px;
    height: 36px;
    border-radius: 100%;
    margin: 0 17px;
    background-color: #C5CEE0;
}

@media (max-width: 800px) {
    header {
        padding: 20px 50px;
        flex-direction: column;
    }

    header h2 {
        margin-bottom: 15px;
    }
}